.main_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filter_container {
    display: flex;
    height: 125px;
    color: black;
    font-family: Roboto;
    font-size: 14px;
    gap: 25px;
    padding-left: 23px;
}

.unstyle_button {
    padding: 0;
    border: none;
    background: none;
}

.product_container {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    width: 100%;
    max-width: 1650px;
    margin: 0 auto;
    justify-content: center;
}

.product {
    width: 366px;
    height: 584px;

}

.product_header_category {
    font-size: 12px;
    color: gray;
    font-family: Oswald;
    margin-top: 15px;

}

.product_header {
    color: black;
    font-family: Oswald;
    font-size: 18px;
}

.product_price {
    color: black;
    font-family: Oswald;
    font-size: 22px;
    margin-top: 20px;
}