.base {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 21px;
  background-color: #79101a;
  height: 80px;
  max-height: 80px;
  font-size: 18px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 52px;
  color: white;
  padding: 0;
}

.logo {
  padding-right: 9px;
  height: 42px;
  width: 92px;
}

.cart_logo {
  height: 28px;
  width: 25px;
}

.liked_logo {
  height: 28px;
  width: 25px;
}

.profile_logo {
  height: 28px;
  width: 25px;
}

.link {
  color: white;
  font-size: larger;
  text-decoration: none;
}

.link:hover {
  color: lightgray;
}
